:root {
	--border-bottom: 1px solid #777;
}

html {
	/* background-color: #333; */

	background-image: url('../img/another/mochaGrunge_@2X.png');

}

body {
	/* background-color: #333; */

	background-image: url('../img/another/mochaGrunge_@2X.png');

}


* { 
	color: #888;
	/* color: #333; */
	margin: 0px;
	padding: 0px;
}

	/* border: none; */	
	/* border: 1px solid #ccc; */
	/* border-radius: 6px; */
	/* border-radius: 0px 0px 10px 0px; */
	/* box-shadow: 0px 0px 7px 1px #999; */
	/* background: #2db34a; */
	/* background: #555; Цвет фона под ссылкой  */
	/* background-size: contain; */
	/* border-bottom: 1px solid #777; */

	/* color: #fff;  Ссылка определённого цвета */
	/* color: #484E52FF; */

	/* font-weight: bold; */
	/* font-family: "Arial", sans-serif; */
	/* font-size: 16px; */
	/* float: left; */

	/* letter-spacing: 0.6px; */

	/* height: 100vh; */
	/* height: calc(100vh - 100px -50px - 40px -18px); */

	/* text-align: center; */	
	/* transition-property: font-size, background; */
	/* transition-duration: 1s; */
	/* transition-timing-function: linear; */	
	
	/* opacity: 0.87; прозрачность */
	/* overflow: left;*/

	/* width: 50%; */

/* -------------------------------------------------------- */

.head-1 {
	width: 100%;
	height:100px;
	display: flex;
	align-items: center;
	background-image: url('../img/cat/26-1.jpg');
	background-size: cover;
	border-bottom: var(--border-bottom);
}

	.head-1 img {
		width: 50px;
		margin-left: 40px;
	}

	.head-1-text {
		margin-left: 20px;
		padding: 5px;
		box-shadow: 3px 3px 6px 0px rgb(0, 0, 0);
		transform: rotateZ(-10deg);
	}

		.head-1-text-1 {
			color: rgb(78, 78, 78);
			font-weight: bold;
			font-size: 23px;
			letter-spacing: 4.2px;
		}

		.head-1-text-2 {
			color: rgb(78, 78, 78);
			font-weight: bold;
			font-size: 10px;
			letter-spacing: 4.2px;
		}



.nav-proto {
	width: 490px;
	height: 40px;
	display: flex;
	margin: auto;	
}

.nav {
	width: 100%;	
	display: grid;
	grid-template-columns: repeat( 5 , 1fr );	
	justify-items: center;
	align-items: center;

}
		.nav a {
			/* margin: 0px 30px; */
			width: 85px;
			padding: 3px 0px;			
			text-decoration: none;	/* Убирает подчеркивание для ссылок	*/
			border: 1px solid #ccc;
			/* border: 1px solid #444; */
			border-radius: 0 0 10px 0;			
			box-shadow: 0px 0px 7px 0px #999;			    
			transition-property: font-size, background, box-shadow ;
			transition-duration: 0.1s;
			transition-timing-function: linear;
			text-align: center;
			background-color: #777;
			color: #333;

		}

		.nav a:link { /*Определяет стиль для обычной непосещенной ссылки*/
			/*text-decoration: none; /* Убирает подчеркивание для ссылок */
		}

		.nav a:visited { /*Определяет стиль для посещенной ссылки*/
			/*text-decoration: underline overline;*/ /* Ссылка подчеркнутая и надчеркнутая */
		}

		.nav a:active { /*Определяет стиль для активной ссылки. Активной ссылка становится при нажатии на нее*/
			/*text-decoration: none;*/ /* Убирает подчеркивание для ссылок */
		}

		.nav a:hover { /*Определяет стиль для ссылки при наведении на нее мышью*/
			font-size: 20px;
			color:  white;;			
			background: #777;			
			box-shadow: 0px 0px 7px 0px #fff;
		}

.main {	
	display: flex;	
	border-bottom: var(--border-bottom);
	height: calc(100vh - 100px - 40px - 50px - 20px - 14px);
}

		.sidebar {			
			width: 16%;	
			min-width: 100px;	
			padding: 10px 20px;
			text-align: center;
			border-top: var(--border-bottom);
			border-right: var(--border-bottom);	
			padding: 0 20px;
			
		}

				.sidebar div {
					margin: 5px;
					
				}

				.sidebar a {
					height: 20px;
					display: block;
					padding: 15px 0;

					text-decoration: none;	/* Убирает подчеркивание для ссылок	*/	
					border: 1px solid #ccc;
					border-radius: 0 0 10px 0;
					box-shadow: 0px 0px 7px 0px #999;
					transition-property: font-size, background, box-shadow ;
					transition-duration: 0.1s;
					transition-timing-function: linear;									
				
					background-color: #777;
					color: #333;

				}

				.sidebar a:hover {
					font-size: 20px;
					color:  white;
					background: #777;
					box-shadow: 0px 0px 7px 0px #fff;
					/* padding: 5px 0px; */
				}

		.content {
			width: 100%;
			border-top: var(--border-bottom);								
		}

				.content iframe {
					width: 100%;
					height: 100%;
					border-width: 0px;									
				}
								
.link {
	width: 100%;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1.5fr;
	height: 50px;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(90deg, #333 0%, #000 25%, #333 50%, #777 75%, #333 100%); */
	/* background: linear-gradient(90deg, #222 0%, #222 25%, #444 50%, #666 75%, #444 100%); */
	border-bottom: var(--border-bottom);
	
	
	/* display: flex;
	align-items: center; */	
}

		.link-img {		
			width: 20px;
			height:20px;
			border-radius: 10px;
			background: radial-gradient(at 70% 30%, #fff, #666, #333, #333, #333, #333);
			margin: 0 auto;		
									
		}

				.link-img img {
					
					
					/* width: 20px; */
					/* height:20px; */
					/* border-radius: 10px; */
					/* margin: 0 auto; */
					/* background: radial-gradient(at 70% 30%, #fff, #666, #333, #333, #333, #333);		 */
					/* border: 1px solid #fff; */
				}

		.link-div-a {
			display: grid;
			grid-template-columns: repeat(5 , 1fr);
			justify-items: center;
			align-items: center;

		}
						.link-div-a a img {
							padding: 0;
							margin: 0;
							width: 20px;
							border: 1px solid #ccc;
							border-radius: 20px;
							box-shadow: 0px 0px 7px 0px #999;
							transition-property: width, border-radius, box-shadow;
							transition-duration: 0.1s;
							transition-timing-function: linear;
						}
				
						.link-div-a a img:hover {
							width: 30px;
							border-radius: 15px;
							box-shadow: 0px 0px 7px 0px #fff;
						}

		.tel {					
			text-align: center;
			/* color: rgb(160, 160, 160); */
			color: #bbb;
		}
		
.flooter {
	height: 20px;
	padding: 5px;
	text-align: center;	
	border-bottom: var(--border-bottom);
	font-size: 15px;
	background: linear-gradient(90deg, #222 0%, #222 25%, #444 50%, #666 75%, #444 100%);
	/* color: #fff; */
}

/*----------------------------------------------------------*/

.htmlMain {
	padding: 27px;
		
}

		.htmlMain a{
			margin: 0px 0px;
			padding: 00px 0px;
		}

				.htmlMain a img{
					height: 140px;
					z-index: 0;	
					opacity: 0.8;
					/* border: 1px solid #fff inherit;	 */
					border: 1px solid #333;
					/* transition-property: z-inedx , opasity , transform ; */
					/* transition-duration: 1.3s; */
					/* transition-timing-function: linear ; */
					transition: all 0.2s ease;
					
				}

				.htmlMain a img:hover{
					/* height: 140px; */
					z-index: 1;	
					opacity: 1;	
					transform: scale(1.3);
					border: 1px solid #fff;	
				}

				



.html {
	padding: 10px;
	background-color: #333;	
	/* background-image: url('../img/another/mochaGrunge_@2X.png'); */
	color: crimson;
	/* height: 400px; */
	/* width: 900px; */
}

		 .html-fistImg {	
			height: 100px;
			float: left;		
			margin-top: 5px;
			margin-right: 10px;
		}
					
		.html-content {
			margin: 0px;
			padding: 0px; 
			/* color: red; */
			/* text-align: justify;*/
		}	
		
				.html-Img {
					width: 49%;
					/* height: 10%; */
					margin: 0px;
				} 