body {
    display: flex;
    margin: 0;
}

#panel_control {
    background-color: rgb(54, 54, 54);
    width: 200px;
}

    /* .seting {
        margin: 0px auto;
    } */

        .seting_item {
            display: flex;
        }

        h4 {
            text-align: center;
            color: rgb(252, 162, 98);
        }

        input {
            width: 40px;
            margin-right: 5px;
        }

        button {
            width: 100px;
            margin-right: 5px;
        }


#canvas {
    display: block;
    border: 1px  solid  rgb(0, 0, 0);
}
